server:
  port: 8080
#DB
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    password: 1234
    username: postgres
    initialization-mode: always
  #Jackson
  jackson:
    serialization:
      indent-output: false
  #JPA
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        default_schema: public
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        generate_statistics: true
    show-sql: true
#Logging
logging:
  level:
    org:
      hibernate:
        stat: debug
    com:
      secure:
        example: trace
    root: info

#Actuator
management:
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health, shutdown, info, metrics, mappings, conditions
  server:
    port: 8080

graphql:
  servlet:
    mapping: /graphql
    enabled: true
    corsEnabled: true
    cors:
      allowed-origins: https://online-movie-database.netlify.app/
    # if you want to @ExceptionHandler annotation for custom GraphQLErrors
    exception-handlers-enabled: true
    contextSetting: PER_REQUEST_WITH_INSTRUMENTATION
  playground:
    cdn:
      enabled: true
    headers:
      Authorization: "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpZCI6MTQsInN1YiI6ImRlbW9fcGFpZF9hY2NvdW50IiwiYXV0aG9yaXRpZXMiOiJST0xFX1VTRVJfUEFJRCIsImV4cCI6MTYwMzE3NTIzNX0.ec-kVvscR3ku2p_AEDNglS1xlwJVSh3VAG3Krx8tM-I1GDIsfr_UrAqvDjyMAakZXIuTyLMfXoa7JmRNTT1QKw"

graphiql:
  cdn:
    enabled: true
  headers:
    Authorization: "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpZCI6MTQsInN1YiI6ImRlbW9fcGFpZF9hY2NvdW50IiwiYXV0aG9yaXRpZXMiOiJST0xFX1VTRVJfUEFJRCIsImV4cCI6MTYwMzE3NTIzNX0.ec-kVvscR3ku2p_AEDNglS1xlwJVSh3VAG3Krx8tM-I1GDIsfr_UrAqvDjyMAakZXIuTyLMfXoa7JmRNTT1QKw"
  props:
    variables:
      editorTheme: 'solarized light'


